@model IEnumerable<Blessings.Models.AuthorizedPickup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="form-group">
                        <a value="Create" href="@Url.Action("Create", "AuthorizedPickups")" class="btn btn-success"> Add Pickup </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Authorized Pickup Info</h4>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PersonName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Relation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Child)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PersonName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Relation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Child.ChildFirstName)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.AuthorizedPickupId" class="btn btn-icon btn-warning btn-xs m-b-5"><i class="fa fa-edit"></i>Edit</a>
                                                <a asp-action="Details" asp-route-id="@item.AuthorizedPickupId" class="btn btn-icon btn-success btn-xs m-b-5"><i class="fa fa-arrow-down"></i>Details</a>
                                                <a asp-action="Delete" asp-route-id="@item.AuthorizedPickupId" class="btn btn-icon btn-success btn-xs m-b-5"><i class="fa fa-remove"></i>Delete</a>
                                              
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>



@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Relation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Child)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Child.ChildFirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorizedPickupId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorizedPickupId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuthorizedPickupId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
