@model Blessings.Models.Medical

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonToContactFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonToContactFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonToContactLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonToContactLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonToContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonToContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildsDoctorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildsDoctorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildsDoctorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildsDoctorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildsDoctorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildsDoctorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularlyUsedHospitalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegularlyUsedHospitalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaetryRestriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaetryRestriction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Child)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Child.ChildFirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedicalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
