@model IEnumerable<Blessings.Models.Medical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonToContactFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonToContactLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonToContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildsDoctorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildsDoctorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildsDoctorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularlyUsedHospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaetryRestriction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonToContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonToContactLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonToContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildsDoctorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildsDoctorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildsDoctorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularlyUsedHospitalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaetryRestriction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child.ChildFirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
