@model IEnumerable<Blessings.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="form-group">
                        <a value="Create" href="@Url.Action("Create", "Rooms")" class="btn btn-success"> Create Room </a>
                    </div>
                    <form asp-controller="Rooms" asp-action="Index" method="get">
                        <p>
                            Search:
                            <input type="text" name="SearchString">

                        </p>
                    </form>
                    <div class="card-body">
                        <h4 class="card-title">Room Info</h4>
                        <div class="table-responsive m-t-40">
                            <table class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RoomNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoomNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Course)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.RoomId" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>Edit
                                                </a> |
                                                <a asp-action="Details" asp-route-id="@item.RoomId" class="btn btn-icon btn-success btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>Details
                                                </a> |
                                                <a asp-action="Delete" asp-route-id="@item.RoomId" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End PAge Content *@
    </div>
</div>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
