@model Blessings.Models.ChildLog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div></div>
                    <div class="card-body">
                        <h4 class="card-title">ChildLog Details</h4>
                        <div class="table-responsive m-t-40">
                        </div>
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Day)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Day)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CheckIn)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CheckIn)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CheckOut)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CheckOut)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Child)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Child.ChildFirstName)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.ChildlogId">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- End PAge Content -->
    </div>
</div>


@*<h1>Details</h1>

    <div>
        <h4>ChildLog</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Day)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Day)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CheckIn)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CheckIn)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CheckOut)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CheckOut)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Child)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Child.ChildFirstName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ChildlogId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
