@model IEnumerable<Blessings.Models.StaffLog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="form-group">
                        <a value="Create" href="@Url.Action("Create", "StaffLogs")" class="btn btn-success"> Create StaffLog </a>
                    </div>
                    @*<form asp-controller="StaffLogs" asp-action="Index" method="get">
                        <p>
                            Search:
                            <input type="text" name="SearchString">

                        </p>
                    </form>*@
                    <div class="card-body">
                        <h4 class="card-title">Staff Log Info</h4>
                        <div class="table-responsive m-t-40">
                            <table class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Day)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StaffCheckIn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StaffCheckOut)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Staff)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Day)
                                            </td>
                                            <td>
                                                @if (item.StaffCheckIn != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.StaffCheckIn)
                                                }
                                                else
                                                {
                                                    <label class="label btn-danger">Absent</label>
                                                }
                                            </td>
                                            <td>
                                                @if (item.StaffCheckOut != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.StaffCheckOut)
                                                }
                                                else
                                                {
                                                    <label class="label btn-danger">Absent</label>
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Staff.StaffFirstName)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.StafflogId" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>Edit
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.StafflogId" class="btn btn-icon btn-success btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>Details
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.StafflogId" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End PAge Content *@
    </div>
</div>



@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffCheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffCheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffCheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffCheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StafflogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StafflogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StafflogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
