@model Blessings.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<div class="reportHeader">
    <h3>
        Enrollment details
    </h3>
</div>


<div>
     <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.ChildFirstName)
        </dd>
    </dl>
</div>
<div>
    <a class="Edit" asp-action="Edit" asp-route-id="@Model.EnrollmentId">Edit</a> |
    <input type="button" class="button" value="Children List"
           onclick="location.href='@Url.Action("Index", "Children")'" />
</div>
