@model IEnumerable<Blessings.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
    <h1>
       Enrollments
    </h1>
</div>

<p>
    <a class="Create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
@**@            <th>
                @Html.DisplayNameFor(model => model.Child)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child.ChildFirstName)
            </td>
            <td>
                <a class="Edit" asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a class="Details" asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a class="Delete" asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
