@model IEnumerable<Blessings.Models.Emergency>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
    <h1>
        Emergency Contact Info
    </h1>
</div>
<<p>
    <a class="Create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Child)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Child.ChildFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>

            <td>
                <a class="Edit" asp-action="Edit" asp-route-id="@item.EmergencyId">Edit</a> |
                <a class="Details" asp-action="Details" asp-route-id="@item.EmergencyId">Details</a> |
                <a class="Delete" asp-action="Delete" asp-route-id="@item.EmergencyId">Delete</a>
            </td>
        </tr>
}
}
    </tbody>
</table>
