@model Blessings.Models.Child

@{
    ViewData["Title"] = "Details";
    Blessings.Models.Enrollment enrollmentModel = null;
    Blessings.Models.Emergency emergencyModel = null;
    Blessings.Models.Medical MedicalModel = null;
    Blessings.Models.Payment paymentModel = null;
}

<div class="reportHeader">
    <h1>
        Child @Model.ChildLastName @Model.ChildFirstName details
    </h1>
</div>

<div>
    <p>
        <input type="button" class="button" value="Children List"
               onclick="location.href='@Url.Action("Index", "Children")'" />
    </p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildBirthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildBirthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FatherFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FatherFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FatherLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FatherLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotherFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotherFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotherLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotherLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
    </dl>
</div>
<div style="margin-top: 20px; margin-bottom: 20px;">
    <a class="Edit" asp-action="Edit" asp-route-id="@Model.ChildId">Edit Child info</a>
    <a class="Delete" asp-action="Delete" asp-route-id="@Model.ChildId">Delete Child info</a>
</div>
