@model IEnumerable<Blessings.Models.Child>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="form-group">
                        <a value="Create" href="@Url.Action("Create", "Children")" class="btn btn-success"> Create Child </a>
                    </div>
                    <form asp-controller="Children" asp-action="Index" method="get">
                        <p>
                            Search: 
                            <input type="text" name="SearchString">
                            
                        </p>
                    </form>

                    <div class="card-body">
                        <h4 class="card-title">Children List</h4>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChildFirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChildLastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChildBirthdate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Age)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FatherFirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FatherLastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MotherFirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MotherLastName)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChildFirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChildLastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChildBirthdate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Age)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FatherFirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FatherLastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotherFirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotherLastName)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ChildId" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a href="@Url.Action("Index", "Enrollments", new {ChildId = item.ChildId})" class="btn btn-icon btn-success btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i> Enroll
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>














































@*<div class="reportHeader">
        <h1>
           Child Information
        </h1>
    </div>

    <form asp-controller="Children" asp-action="Index" method="get">
        <p>
            SEARCH: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<div>
    <table class="table">
        <thead>
            <tr>*@
@*  <th>
        @Html.DisplayNameFor(model => model.ChildFirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChildLastName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChildBirthdate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Age)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FatherFirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FatherLastName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MotherFirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MotherLastName)
    </th>
*@
@*
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>*@
@*      <td>
        @Html.DisplayFor(modelItem => item.ChildFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChildLastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChildBirthdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FatherFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FatherLastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotherFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotherLastName)
    </td>
*@
<!--<td>
<a asp-action="Edit" asp-route-id="item.ChildId">Edit</a> |-->
@* <a asp-action="Create" asp-controller="Enrollments" asp-route-id="@item.ChildId">Enroll</a> |*@
<!--<a asp-action="Details" asp-route-id=" item.ChildId">Enroll</a>-->
@*<a asp-action="Delete" asp-route-id="@item.ChildId">Delete</a>*@
<!--</td>
                </tr>
            }
        </tbody>
    </table>
</div>-->
