@model Blessings.ViewModel.PaymentVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaymentVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildBirthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildBirthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaymentListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
