@model IEnumerable<Blessings.ViewModel.PaymentVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                   @* <form asp-controller="EnrollmentViewModels" asp-action="Index" method="get">
                        <p>
                            SEARCH: <input type="text" name="SearchString">
                            <input type="submit" value="Filter" />
                        </p>

                    </form>*@

                    <div class="card-body">
                        <h4 class="card-title">Payment List</h4>
                        <div  class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => model.ChildFirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChildBirthdate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RoomNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EnrollmentDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PaymentType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Amount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PaymentDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChildFirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChildBirthdate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Course)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoomNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentDate)
                                            </td>
                                            <td>

                                                @if (item.Status == "Due")
                                                {
                                                    <label class="label label-warning">@Html.DisplayFor(modelItem => item.Status)</label>
                                                    <a href="@Url.Action("Create", "Payments", new { ChildId = item.ChildId })" class="btn btn-icon btn-success btn-xs m-b-5">
                                                        <i class="fa fa-edit"></i>Pay
                                                    </a>

                                                }
                                                @if (item.Status == "Paid")
                                                {
                                                    <label class="label label-success"> @Html.DisplayFor(modelItem => item.Status)</label>

                                                }
                                            </td>
@*
                                            <td>
                                                <a asp-action="Delete" asp-route-id="@item.PaymentListId" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>Delete</a>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End PAge Content *@
    </div>
</div>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.ChildFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildBirthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
         
        
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.ChildFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildBirthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
 
            <td>
              <a asp-action="Delete" asp-route-id="@item.PaymentListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
