@model Blessings.Models.Staff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div></div>
                    <div class="card-body">
                        <h4 class="card-title">Staff Details</h4>
                        <div class="table-responsive m-t-40">
                        </div>
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.StaffFirstName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StaffFirstName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.StaffLastName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StaffLastName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Room)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Room)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Street)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Street)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.City)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.City)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.State)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.State)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Zipcode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Zipcode)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.StaffId">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <!-- End PAge Content -->
    </div>
</div>





@*<h1>Details</h1>

    <div>
        <h4>Staff</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StaffFirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StaffFirstName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StaffLastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StaffLastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Room)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Room)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Zipcode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Zipcode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.StaffId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
