@model Blessings.ViewModel.EnrollmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnrollmentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildBirthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildBirthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnrollmentListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
