@model IEnumerable<Blessings.ViewModel.EnrollmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
   <h1>Enrollment List</h1>
</div>

<form asp-controller="EnrollmentViewModels" asp-action="Index" method="get">
    <p>
        SEARCH: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>

</form>

<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.ChildFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildBirthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            
                <td>
                    @Html.DisplayFor(modelItem => item.ChildFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildBirthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildId)
                </td>
                <td>
                    @*<a class="Create" href="@Url.Action("Create", "Enrollments", new { ChildId = item. })">Add enrollment Info</a>*@
                    <!--<a asp-action="Edit" asp-route-id="@item.EnrollmentListId">Edit</a> |-->
                    <a class="btn btn-outline-primary" asp-action="Create"  asp-route-id="@item.EnrollmentListId" asp-controller="Payments">Pay</a> 
                    @*<a class="Details" asp-action="Details" asp-route-id="@item.EnrollmentListId">Details</a> |*@
                    <!--<a asp-action="Delete" asp-route-id="@item.EnrollmentListId">Delete</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
